<div class='row justify-content-center'>
  <div class='col-md-3'>
    <div class='card'>
      <img class="card-img-top" src="../../assets/images/sakura.jpg" alt="Card image">
      <div class='card-body'>
        <div class="dropdown">
            <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chapter Select
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 1']">Chapter 1</a>
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 2']">Chapter 2</a>
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 3']">Chapter 3</a>
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 4']">Chapter 4</a>
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 5']">Chapter 5</a>
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 6']">Chapter 6</a>
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 7']">Chapter 7</a>
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 8']">Chapter 8</a>
              <a class="dropdown-item" [routerLink]="['/Japanese','Chapter 9']">Chapter 9</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class='col-md-7'>
    <div class='jumbotron'>
      <h1>これは私の日本語の勉強ページです！</h1>
      <p>私たちの教科書は“なかま”です。良くて、難しい教科書ですよ。私と一緒に勉強しませんか。</p>
    </div>
    <div class='jumbotron'>
      <h2>Resources</h2>
      <ul>
        <li><a routerLink='/Japanese/vocab'>単語 Vocabulary</a></li>
        <li><a routerLink='/Japanese/kanji'>漢字 kanji</a></li>
      </ul>
    </div>
  </div>
</div>