<div class='row justify-content-center'>
  <div class='col-md-3'>
    <div class='card'>
      <img class="card-img-top" src="../../assets/images/sakura.jpg" alt="Card image">
      <div class='card-body'>
        <div class="dropdown">
            <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chapter Select
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Chapter 1</a>
              <a class="dropdown-item">Chapter 2</a>
              <a class="dropdown-item">Chapter 3</a>
              <a class="dropdown-item">Chapter 4</a>
              <a class="dropdown-item">Chapter 5</a>
              <a class="dropdown-item">Chapter 6</a>
              <a class="dropdown-item">Chapter 7</a>
              <a class="dropdown-item">Chapter 8</a>
              <a class="dropdown-item">Chapter 9</a>
              <a class="dropdown-item">Chapter 10</a>
              <a class="dropdown-item">Chapter 11</a>
              <a class="dropdown-item">Chapter 12</a>
              <a class="dropdown-item">Chapter 13</a>
              <a class="dropdown-item">Chapter 14</a>
              <a class="dropdown-item">Chapter 15</a>
              <a class="dropdown-item">Chapter 16</a>
              <a class="dropdown-item">Chapter 17</a>
              <a class="dropdown-item">Chapter 18</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class='col-md-7'>
    <div class='jumbotron'>
      <h2>これは私の日本語の勉強ページです！</h2>
      <p>私たちの教科書は“なかま”です。良くて、難しい教科書ですよ。私と一緒に勉強しませんか。</p>
    </div>
  </div>
</div>